@model Sindh_University_Transport_M_S.Models.Points_Get
@{
    ViewBag.Title = "_Create";
    Layout = "~/Views/Share/_Layout.cshtml";
}


@using (Html.BeginForm("_Create", "Points", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h4>Points_Get</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Point Name", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.P_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.P_Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.P_Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.P_Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Number", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.P_Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.P_Number, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Photo", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.TextBoxFor(model => model.P_Photo, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.P_Photo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Starting Time", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.P_S_Timing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.P_S_Timing, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Ending Time", htmlAttributes: new { @class = "control - label col - md - 2" })


                    @Html.EditorFor(model => model.P_E_Timing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.P_E_Timing, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shift, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Shift, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Shift, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
